.adminContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.adminPageContainer {
  display: flex;
  padding: 15px;
  flex-direction: row;
  margin: 20px;
}
.inviteUsersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 80px;
  background-color: #3b3a3a;
  border-radius: 20px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inviteFormContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.inviteFormContainer button {
  margin: 20px;
}
.inviteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.inviteForm input {
  margin: 10px;
}
.editUsersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 80px;
  padding: 20px;
  background-color: #3b3a3a;
  border-radius: 20px;
}

.users,
.usersHeader {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
}

.usersHeader {
  font-weight: bold;
}

.buttonInUsers {
  margin: 5px;
  padding: 0 10px;
}

.username {
  width: 90px;
  margin: 5px;
}
.email {
  width: 200px;
  margin: 5px;
}
.role {
  width: 70px;
  margin: 5px;
}
.changeTo {
  margin: 5px;
}
.changeRole {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: 5px;
}
.deleteUser {
  display: flex;
  width: 80px;
  margin: 5px;
}
