.newsfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.homeContainer {
  display: flex;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
